body {
	margin-top: 20px;
	background-color: #e2e2e2;
}

.app-content{
	margin-top:100px;
}
.app-headline {
	margin-bottom: 40px;
}

.thumbnail {
	float: none;
	margin: 0 auto;
	margin-bottom: 30px;
	width: 50%;
	padding: 20px;
}