<div class="container">
	<div class="thumbnail">
		<img src="{{ photo.url}}">
		<div class="caption">
			<h3>{{ photo.title}}</h3>
			<span class="label label-danger" *ngIf="photo.private">Private</span>
			<span class="label label-success" *ngIf="!photo.private">Public</span> : {{photo.price | currency:'USD':true:'.0' }}
			<br/>
			<p>{{photo.description}}</p>
		</div>
	</div>

	<div class="jumbotron">

		<form #photoForm='ngForm' (ngSubmit)="createPhoto(photo)">

			<div class="form-group">
				<label for="title">Title</label>
				<input class="form-control" type="text" id="title" required name="title" [(ngModel)]="photo.title" [disabled]="submitted">
			</div>

			<div class="form-group">
				<label for="url">Photo URL</label>
				<input class="form-control" type="text" id="url" required name="url" [(ngModel)]="photo.url" [disabled]="submitted">
			</div>

			<div class="form-group">
				<label for="price">Price</label>
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<input class="form-control" type="number" id="price" required name="price" [(ngModel)]="photo.price" [disabled]="submitted">
				</div>
			</div>

			<div class="form-group">
				<label for="private">Status </label>
				<br>
				<label class="radio-inline"><input type="radio" name="private"  [value]="true" ng-control="options" [(ngModel)]="photo.private" [disabled]="submitted"><span class="label label-danger" >Private</span></label>
				<label class="radio-inline"><input type="radio" name="private"  [value]="false" ng-control="options" [(ngModel)]="photo.private"[disabled]="submitted" ><span class="label label-success">Public</span></label>
			</div>

			<div class="form-group">
				<label for="description">Description <em>(Optional)</em></label>
				<textarea class="form-control" type="text" id="description" required name="description" [(ngModel)]="photo.description" [disabled]="submitted"></textarea>
			</div>
			<button type="submit" class="btn btn-primary btn-lg" [disabled]="!photoForm.form.valid" [hidden]="submitted">
            Create photos
      </button>

			<div class="alert alert-success" [hidden]="!submitted">
				<strong>Your photos has been submitted !!</strong> <a href="" class="alert-link" routerLink='/photos'>View all photos</a>
			</div>

		</form>
	</div>
</div>